        <Placemark>
                <name>NAME</name>
                <description>COMMENT</description>
                <LookAt>
                        <longitude>LON</longitude>
                        <latitude>LAT</latitude>
                        <altitude>100</altitude>
                        <heading>0</heading>
                        <tilt>0</tilt>
                        <range>1909051.586454005</range>
                        <gx:altitudeMode>relativeToSeaFloor</gx:altitudeMode>
                </LookAt>
                <styleUrl>#m_ylw-pushpin</styleUrl>
                <Point>
                        <gx:drawOrder>1</gx:drawOrder>
                        <coordinates>LON,LAT,100</coordinates>
                </Point>
        </Placemark>
